body {
    background-color: #f0f0f0;
    font-family: arial, san-serif;
    width: 100%;
    /*padding:0;  !*去除内边距*!*/
    /*border:0;   !*去除边框*!*/
    /*margin:0;*/
    /*overflow: hidden;*/
    min-height: 600px;
    /*overflow-x:hidden;*/

}

.row{margin:0;}
.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{padding:0;}



nav {
    width: 100%;
    /*margin:0 auto;*/
    /*margin-top:0px;*/
    padding: 0;
    /*background: #ff782e;*/
    filter:alpha(opacity=50 finishopacity=50 style=1 startx=0,starty=0,finishx=150,finishy=0) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#2BB4EA,endcolorstr=#3687CB,gradientType=0);
    -ms-filter:alpha(opacity=50 finishopacity=50 style=1 startx=0,starty=0,finishx=150,finishy=0) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#2BB4EA,endcolorstr=#3687CB,gradientType=0);

    background:-moz-linear-gradient(left, #2BB4EA, #3687CB);
    background:-webkit-gradient(linear, 0 25%, 100% 50%, from(#2BB4EA), to(#3687CB));

}
nav .menu {
    margin-top:-62px;
    width: 62px;
    /*height: 100%;*/
    margin-right: 0px;
    float: right;
    /* height:70px; */
    /*background-color: #ff782e;*/
    /*border-radius:10px;    */

    color:#fff;
    display:block;
    position: relative;
    font-size: 20px;
    padding:20px 10px;
    -webkit-transition: 300ms ease;
    -moz-transition: 300ms ease;
    -o-transition: 300ms ease;
    -ms-transition: 300ms ease;
    transition: 300ms ease;
    /*border-bottom: 3px solid #cc6025;*/
}

nav .titleView {
    margin: 0 100px;
    height: 100%;
    /*background: #1abc9c;*/
    text-align: center;
    font-size: 16px;
    color: white;

}
nav .titleView span {
    margin: 0;
    height: 64px;
    line-height: 62px;
}

nav .menuleft {
    width: 62px;
    left: 0;
    float: left;
    margin-top: 0;
    /*background-color: #ff782e;*/
    border-radius:10px;
    color:#fff;
    display:inline-block;
    position: relative;
    font-size: 20px;
    padding:20px 10px;
    -webkit-transition: 300ms ease;
    -moz-transition: 300ms ease;
    -o-transition: 300ms ease;
    -ms-transition: 300ms ease;
    transition: 300ms ease;
    /*border-bottom: 3px solid #cc6025;*/
}



.menuleft .dropdownIcon {
    display: block;
    width:50%;
    /*margin-top:2px;*/
    /* position: absolute; */
    margin:0;
    float:left;
    height: 22px;
}



.menuleft .dropdownIcon span {
    width:24px;
    height:2px;
    border-radius:3px;
    color:#fff;
    display:block;
    background: white;
    margin:4px;
}

/*nav:hover .menu{*/
/*cursor:pointer;*/
/*background: #ff853a;    */
/*}*/

.menuleft:hover .dropdownIcon span{
    -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.3);
    box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.3);
}

nav .dropDown {
    background: #f0f0f0;
    border-radius: 10px;
    text-align: center;
    width: 150px;
    right: 10px;
    /*float: right;*/
    padding:0;
    list-style:none;
    position: fixed;
    /*position: fixed;*/

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-box-shadow: #666 0px 0px 10px;
    -moz-box-shadow: #666 0px 0px 10px;
    box-shadow: #666 0px 0px 10px;

    margin-top:20px;
    display:none;
    z-index: 1000;
}

nav .leftM {
    background: #f0f0f0;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
    left:10px;
    /*min-width: 300px;*/
    /*width: 100%;*/
    right: 10px;
    /*float: left;*/
    padding:0;
    list-style:none;
    position: fixed;
    display:none;
    z-index: 1000;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-box-shadow: #666 0px 0px 10px;
    -moz-box-shadow: #666 0px 0px 10px;
    box-shadow: #666 0px 0px 10px;

}

nav .dropDown:before {
    content: "";
    position:absolute;
    border: 15px solid #f0f0f0;
    border-top: 0 solid transparent!important;
    border-right: 15px solid transparent!important;
    border-left: 15px solid transparent!important;
    right:10px;
    top:-15px;

}

nav .leftM :before {
    content: "";
    position:absolute;
    border: 15px solid #f0f0f0;
    border-top: 0 solid transparent!important;
    border-right: 15px solid transparent!important;
    border-left: 15px solid transparent!important;
    left: 10px;
    top:-15px;

}

nav .dropDown a ,.leftM  a{
    color: #494b4d;
    text-decoration: none;
    display:block;
    padding:20px 0;
    font-weight:700;
    font-size:16px
}

nav .dropDown li:nth-child(even) a ,.leftM li:nth-child(even) a{
    background:#ebebeb
}
/*图标*/
.return {
    /*box-sizing : border-box;*/
    /*display    : inline-block;*/
    /*font-size  : 20px;*/

    width:6px;
    height:6px;
    border-radius:6px;
    color:#fff;
    display:block;
    background: white;
    margin: 8px 18px;
}

.return:before {
    content        : '';
    pointer-events : none;
    position       : absolute;
    left           : 30%;
    top            : 50%;
    transform      : translate(0, -50%);
    box-shadow     : inset 0 0 0 1em;
    width:6px;
    height:6px;
    border-radius:6px;
    color: #ffffff;
    display:block;
}

.return:after {
    content        : '';
    pointer-events : none;
    position       : absolute;
    right          : 30%;
    top            : 50%;
    transform      : translate(0, -50%);
    box-shadow     : inset 0 0 0 1em;
    width:6px;
    height:6px;
    border-radius:6px;
    color: #ffffff;
    display:block;
}

.arrowUp {
    padding: 10px;
}

.arrowUp:after {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border-top: 3px solid #FFFFFF;
    border-left: 3px solid #FFFFFF;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

#device-content {
    width: 100%;
    height: auto;
    padding: 0px 0px 10px;
    /*display: none;*/
}

.list-content {
    width: auto;
    height: auto;
    /*padding: 15px;*/
    /*padding: 5px 5px 0px 10px;*/
    margin: 10px 10px  5px 10px;

}

#device-content  .device-item {
    display: inline-block;
    background: #ffffff;
    height: auto;
    width: 97%;
    padding: 10px;
    border-radius: 5px ;
    margin: 5px 1.5% 10px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-box-shadow: rgba(102, 102, 102, 0.2) 0px 0px 10px;
    -moz-box-shadow: rgba(102, 102, 102, 0.2) 0px 0px 10px;
    box-shadow: rgba(102, 102, 102, 0.2) 0px 0px 10px;
}

#device-content  .device-item img {
    width: 70px;
    height: auto;
    /*margin: 0px auto;*/
}

.device-item .rightContent {
    margin-top: -60px;
    margin-left: 80px;
    width: auto;
    height: 100%;
}


.rightContent span {
    padding: 5px 10px 5px 0;
    width: 100%;
    color: #a4a4a4;
    font-size: 14px;
}

.rightContent span:first-child {
    display: inline-block;
    color: rgba(61, 61, 61, 0.79);
    font-size: 20px;
    margin: 5px 15px 5px 0;
    padding: 0;
}

.rightContent span:last-child {
    border-left: 1px solid #c9c9c9;
    padding-left: 10px;
}


.title {
    font-size: 20px;
}

#serach-content {
    width: 100%;
    height: auto;
    cursor: pointer;
    /*padding: 0px 0px 10px;*/
    /*background: #1b6d85;*/
    margin-top: 0px;
    margin-bottom: 100px;
}

#serach-content .serach-menu {
    width: 97%;
    border-radius: 5px ;
    margin: 5px 1.5% 10px;
    height: 50px;
    line-height: 50px;
    background: #f0ad4e;
    text-align: center;
    color: #ffffff;

    filter:alpha(opacity=50 finishopacity=50 style=1 startx=0,starty=0,finishx=150,finishy=0) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#2BB4EA,endcolorstr=#3687CB,gradientType=0);
    -ms-filter:alpha(opacity=50 finishopacity=50 style=1 startx=0,starty=0,finishx=150,finishy=0) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#2BB4EA,endcolorstr=#3687CB,gradientType=0);

    background:-moz-linear-gradient(left, #2BB4EA, #3687CB);
    background:-webkit-gradient(linear, 0 25%, 100% 50%, from(#2BB4EA), to(#3687CB));


    /*margin-top: 15px;*/
    /*margin-left: 15px;*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-box-shadow: rgba(102, 102, 102, 0.2) 0px 0px 10px;
    -moz-box-shadow: rgba(102, 102, 102, 0.2) 0px 0px 10px;
    box-shadow: rgba(102, 102, 102, 0.2) 0px 0px 10px;
}


.box{
    width: 100%;
    height: auto;
    min-width: 250px;
    border-radius: 10px;
}

.box form select {
    height: 44px;
    margin-bottom: 0px;
    border-radius: 5px;
}

.box form input {
    height: 44px;
}
.box form button{
    width: 100%;
    height: 44px;
    border: none;
    outline: none;
    color: #ffffff;
    margin-bottom: 0px;
    border-radius: 5px;

    filter:alpha(opacity=50 finishopacity=50 style=1 startx=0,starty=0,finishx=150,finishy=0) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#2BB4EA,endcolorstr=#3687CB,gradientType=0);
    -ms-filter:alpha(opacity=50 finishopacity=50 style=1 startx=0,starty=0,finishx=150,finishy=0) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#2BB4EA,endcolorstr=#3687CB,gradientType=0);

    background:-moz-linear-gradient(left, #2BB4EA, #3687CB);
    background:-webkit-gradient(linear, 0 25%, 100% 50%, from(#2BB4EA), to(#3687CB));

}


.click-title {
    margin-top: 5px;
    color: rgba(9, 7, 8, 0.5);
    font-size: 14px;
    /*margin-bottom: 10px;*/
    text-align: left;
    font-weight: 500;
    line-height: 1.1;
    width: auto;
}

.click-title span {
    color: #2BB4EA;
    cursor: pointer;
}
