body {
    background: #ffffff;
    position: relative;
}

/*placeholder*/
::-webkit-input-placeholder {
    color: rgba(33, 33, 33, 0.58);
}

::-moz-placeholder {
    color: rgba(33, 33, 33, 0.58);
}

/* firefox 19+ */
:-ms-input-placeholder {
    color: rgba(33, 33, 33, 0.58);
}

/* ie */
input:-moz-placeholder {
    color: rgba(33, 33, 33, 0.58);
}

.top-icon {
    margin-top: 0px;
    background: url("../img/cellbg.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    height: 180px;
    padding: 10px;
    /*z-index: -1;*/
    text-align: center;
    filter: alpha(opacity=50 finishopacity=50 style=1 startx=0, starty=0, finishx=150, finishy=0) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#2BB4EA, endcolorstr=#3687CB, gradientType=0);
    -ms-filter: alpha(opacity=50 finishopacity=50 style=1 startx=0, starty=0, finishx=150, finishy=0) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#2BB4EA, endcolorstr=#3687CB, gradientType=0);
    background: -moz-linear-gradient(left, #2BB4EA, #3687CB);
    background: -webkit-gradient(linear, 0 25%, 100% 50%, from(#2BB4EA), to(#3687CB));

}

.top-icon .logo {
    width: 80px;
    height: 80px;
    margin-left: 50%;
    /*margin-top: 100px;*/
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);

    /*border-radius: 50%;*/
    /*!*background: #1abc9c;*!*/
    /*-webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.3);*/
    /*-moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.3);*/
    /*box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.3);*/
}

.logo img {
    width: 100%;
    height: 100%;
    z-index: 999;
}

#contentConvas {
    width: 100%;
    /*min-height: 100px;*/
    height: 400px;
    /*max-height: 200px;*/
    margin-top: -300px;
    zoom: 0.4;

}

.reg-content {
    margin: -100px 0;
    background: #ffffff;
    height: auto;
    width: 100%;
}

.register-section {
    /*z-index: 0;*/
    margin: 40px 0 20px;
}

.login-section {
    /*z-index: 0;*/
    margin: 25px 0 20px;
}

.top-label {
    text-align: center;
}

.row-item {

    width: 100%;
    border-bottom: 1px solid rgba(73, 73, 73, 0.35);
    height: 45px;
    line-height: 45px;
    padding: 5px 0px 5px;
    /*background: #1abc9c;*/
    /*position: absolute;*/
    /*display: inline-block;*/
    margin: 5px auto;

}

.validate {
    width: 100%;
    border-bottom: 1px solid rgba(73, 73, 73, 0.35);
    height: 45px;
    line-height: 45px;
    /*padding: 5px 0px 5px;*/
    /*background: #1abc9c;*/
    /*position: absolute;*/
    /*display: inline-block;*/
    margin: 5px auto;
    display: none;
}

.validate img {
    margin-top: 2px;
    width: 34px;
    height: 34px;
    /*padding: 5px 0;*/
    /*max-width: 10%;*/
    /*background: #a6e1ec;*/

    left: 0;

}

.validate .row-center {
    display: block;
    margin: 0 160px 0 40px;
    height: 40px;
    line-height: 30px;
    text-indent: 0;

    /*background: #f0ad4e;*/
    padding: 0;
}

.validate .row-center input {
    width: 100%;
    height: 44px;
    line-height: 34px;
    border: none;
    outline: none;
    font-size: 18px;
    margin: 0;
    padding: 0;
    /*margin: -44px 0;*/
    color: rgba(33, 33, 33, 0.58);
    background: rgba(255, 255, 255, 0.1);
}

.validate button {
    margin-top: 5px;
    width: auto;
    height: 34px;
    line-height: 34px;
    outline: none;
    border: none;
    padding: 0 10px;
    font-size: 14px;
    max-width: 160px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 17px;
    color: #ffffff;
    right: 0;
    /*margin-top: -34px;*/

}

.forgot {
    width: 100%;
    height: 45px;

    /*background: #1abc9c;*/
    /*position: absolute;*/
    /*display: inline-block;*/
    margin-top: 0px;
}

.forgot button {
    margin-top: 0px;
    width: auto;
    height: 34px;
    /*max-width: 10%;*/
    /*color: #2BB4EA;*/
    outline: none;
    border: none;
    background: rgba(255, 255, 255, 0);
    color: rgba(33, 33, 33, 0.5);
}

.forgot .btn-left {
    left: 0;
    text-align: left;
}

.forgot .btn-right {
    right: 0;
    text-align: right;
}

.btn-content {
    width: 100%;
    height: 45px;

    /*background: #1abc9c;*/
    /*position: absolute;*/
    /*display: inline-block;*/
    margin-top: 40px;
}

.btn-content button {
    border: none;
    outline: none;
    width: 100%;
    height: 44px;
    /*background: #2BB4EA;*/
    filter: alpha(opacity=25 finishopacity=50 style=1 startx=0, starty=0, finishx=150, finishy=0) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#2BB4EA, endcolorstr=#3687CB, gradientType=0);
    -ms-filter: alpha(opacity=25 finishopacity=50 style=1 startx=0, starty=0, finishx=150, finishy=0) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#2BB4EA, endcolorstr=#3687CB, gradientType=0);

    background: -moz-linear-gradient(left, #2BB4EA, #3687CB);
    background: -webkit-gradient(linear, 0 25%, 100% 50%, from(#2BB4EA), to(#3687CB));

    padding: 10px;
    color: #ffffff;
    font-size: 18px;
    border-radius: 5px;
}

.row-item .row-center {
    display: block;
    margin: 0 40px;
    height: 40px;
    line-height: 30px;
    text-indent: 0;
    color: rgba(33, 33, 33, 0.58);

    /*background: #f0ad4e;*/
    padding: 0;
}

.gender {
    display: block;
    margin: 0 0px 0 40px;
    height: 44px;
    line-height: 30px;
    /*background: #f0ad4e;*/
    /*padding: 5px 0 ;*/
    color: rgba(33, 33, 33, 0.58);

}

.gender select {
    margin: -5px 0 0;
    height: 44px;
    width: 100%;
    line-height: 34px;
    /*background: #f0ad4e;*/
    padding: 0px;
    /*text-indent: 0;*/
    font-size: 18px;
    border: none;
    outline: none;
    background: rgba(1, 1, 1, 0);
    color: rgba(33, 33, 33, 0.58);
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -khtml-border-radius: 0;
    -webkit-appearance: button;
    /*border-bottom: 1px solid #ffffff;*/
}

.gender select:focus {
    border: none;
    outline: none !important;
}

.row-item .row-center input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    margin: 0;
    text-indent: 0;
    padding: 0;
    color: rgba(33, 33, 33, 0.58);
    background: rgba(255, 255, 255, 0.0);

}

.row-item img {
    margin-top: 2px;
    width: 34px;
    height: 34px;
    /*padding: 5px 0;*/
    /*max-width: 10%;*/
    /*background: #a6e1ec;*/
    color: #00b300;

}

.row-item img:nth-child(2) {
    margin-top: 10px;
}

.remark {
    right: 0;
    zoom: 0.75;
}

.icon {
    left: 0;
    margin-top: -34px;
}
