<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://cxf.apache.org/jaxws
       http://cxf.apache.org/schemas/jaxws.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/websocket http://www.springframework.org/schema/websocket/spring-websocket-4.0.xsd"
    default-autowire="byName">

    <bean id="tabPropertyMapService" class="com.atat.property.service.impl.TabPropertyMapServiceImpl"/>

    <!-- 读取properties属性配置文件 -->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="order" value="6"/>
        <property name="fileEncoding" value="UTF-8"/>
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
        <property name="locations">
            <list>
                <value>classpath*:config/*.properties</value>
            </list>
        </property>
    </bean>

    <!-- 短信平台信息配置 -->
    <bean id="smsPlatformProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="singleton" value="true"/>
        <property name="properties">
            <props>
                <prop key="name">${smsPlatform.name}</prop>
                <prop key="pwd">${smsPlatform.pwd}</prop>
                <prop key="id">${smsPaltform.id}</prop>
            </props>
        </property>
    </bean>

    <!-- 短信平台信息配置 -->
    <bean id="wxPlatformProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="singleton" value="true"/>
        <property name="properties">
            <props>
                <prop key="wxAppId">${wxPlatform.wxAppId}</prop>
                <prop key="wxSecret">${wxPlatform.wxSecret}</prop>
                <prop key="wxWarnModel">${wxPlatform.wxWarnModel}</prop>
            </props>
        </property>
    </bean>

    <!--设备服务平台配置-->
    <bean id="deviceService" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="singleton" value="true"/>
        <property name="properties">
            <props>
                <prop key="basePase">${deviceService.basePase}</prop>
            </props>
        </property>
    </bean>

    <!--JavaMelody 监控service层配置-->
    <!--监控查看地址 http://<host>/<context>/monitoring-->
    <!-- 或者在需要监控的类或方法上添加注解:@net.bull.javamelody.MonitoredWithSpring-->
    <!--开启aspect自动代理-->
    <aop:aspectj-autoproxy/>
    <!--<bean id="facadeMonitoringAdvisor" class="net.bull.javamelody.MonitoringSpringAdvisor">
        <property name="pointcut">
            <bean class="org.springframework.aop.support.JdkRegexpMethodPointcut">
                <property name="pattern" value="teatatm.atat.**.service.*" />
            </bean>
        </property>
    </bean>-->

    <!-- 引入其他全局配置 -->
    <!--<import resource="classpath:spring/*.xml"/>-->
    <!--数据源配置-->
    <import resource="classpath:/spring/spring-config-datasource.xml" />
    <!--缓存事务配置-->
   <!-- <import resource="classpath:/spring/spring-config-ehcache.xml" />-->

</beans>
