
/*弹出框自定义样式*/

.dialog{
    display: block;
    position: fixed;
    margin: auto;
    max-width: 550px;
    min-width: 300px;
    height: auto;
    padding: 20px 15px;
    border-radius: 5.0px;
    background: #ffffff;
}
body .dialog .layui-layer-title{background:#c00; color:#fff; border: none;}
body .dialog .layui-layer-btn{border-top:1px solid #E9E7E7}
body .dialog .layui-layer-btn a{background: #254d8f;}
body .dialog .layui-layer-btn .layui-layer-btn1{background: #f7f1f9;}

body .dialog .layui-layer-ico:hover{
    border-radius: 50%;
    background: #ffffff;
    background:url(close.png) no-repeat;
    background-size: 100% 100%;

}
